
/* Source for some tab code: https://www.elated.com/javascript-tabs/ */

ul.tabList {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0 0 0.3em 0;
}

ul.tabList li {
    display: inline; /* horizontal tab list */
}

ul.tabList li a {
    color: #42454a;
    background-color: #dedbde;
    border: 1px solid #c9c3ba;
    border-bottom: none;
    padding: 0.3em;
    text-decoration: none;
}

ul.tabList li a:hover {
    background-color: #f1f0ee;
}

ul.tabList li.selected a {
    color: #000;
    background-color: #f1f0ee;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;  /* slightly larger */
}

div.tabbedDiv {
    border: 1px solid #c9c3ba;
    padding: 0.5em;
    background-color: #f1f0ee;
}

div.tabbedDiv.hide {
    display: none;
}




/* Modified from: http://www.cssarrowplease.com/ */

:root {
    --arrow_box-background: #88b7d5;
    --arrow_box-border: #c2e1f5;
}

.top_arrow_box, .bottom_arrow_box {
	position: relative;
	background: var(--arrow_box-background);
	border: 1px solid var(--arrow_box-border);
}
.top_arrow_box:after, .top_arrow_box:before, .bottom_arrow_box:after, .bottom_arrow_box:before {
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.top_arrow_box:after, .bottom_arrow_box:after {
	border-color: rgba( #var(--arrow_box-background), 0);
	border-width: 8px;
	margin-left: -8px;
}
.top_arrow_box:before, .bottom_arrow_box:before {
	border-color: rgba( #var(--arrow_box-border), 0);
	border-width: 9px;
	margin-left: -9px;
}

.top_arrow_box:after {
    bottom: 100%;
    border-bottom-color: var(--arrow_box-background);
}

.top_arrow_box:before {
    bottom: 100%;
    border-bottom-color: var(--arrow_box-border);
}

.bottom_arrow_box:after {
    top: 100%;
    border-top-color: var(--arrow_box-background);
}

.bottom_arrow_box:before {
    top: 100%;
    border-top-color: var(--arrow_box-border);
}

/* - - */

.key_popup, .err_popup {
    position: absolute;
    transform: translate(-50%, 6px );
    margin-right: -50%;
    display: none;
}

.key_popup.shown, .err_popup.shown {
    display: block;
}

/* - - */

.err_popup {
    bottom: 10%;    /* TODO CHANGE somehow :( */
}

.greyable_button {
    background-color: #d3d3d3;
}

.greyable_button.greyed {
    background-color: #a9a9a9;
}


/* - - */

.up_button, .down_button {
    display: block;
    background: #88b7d5;
}

.table_sidebar {

}
