
/* Source for some tab code: https://www.elated.com/javascript-tabs/ */

ul.tabList {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0 0 0.3em 0;
}

ul.tabList li {
    display: inline; /* horizontal tab list */
}

ul.tabList li a {
    color: #42454a;
    background-color: #dedbde;
    border: 1px solid #c9c3ba;
    border-bottom: none;
    padding: 0.3em;
    text-decoration: none;
}

ul.tabList li a:hover {
    background-color: #f1f0ee;
}

ul.tabList li.selected a {
    color: #000;
    background-color: #f1f0ee;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;  /* slightly larger */
}

div.tabbedDiv {
    border: 1px solid #c9c3ba;
    padding: 0.5em;
    background-color: #f1f0ee;
}

div.tabbedDiv.hide {
    display: none;
}






/* https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/ */

.modalDialog {
    position: fixed;    /* moves down page when we scroll */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0,0,0,0.8);
    z-index: 10000; /* on top */
    opacity: 0; /* invisible until triggered */

	transition: opacity 75ms linear;
	pointer-events: none; /* not clickable */
}

/* if an element matches the current url fragment */
.modalDialog:target {
    opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
}

.closeBackground > span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
